@page "/editemployeeprojects/{id:int}"
@using lab6.Data
@using lab6.Services
@inherits OwningComponentBase<EmployeeProjectServices>

<h1>Edit employee projects</h1>

<EditForm Model="_eproject" OnValidSubmit="EditEmployeeProject">
	<label>Name of employee projects</label>
	<InputText @bind-Value="_eproject.Employee.Name"  />
	<br/>
	<label>Project name</label>
	<InputText @bind-Value="_eproject.Project.Name"/>
	<br/>
	<label>Position name</label>
	<InputText @bind-Value="_eproject.Position.Name"  />
	<br/>
	<label>DateOfJoin</label>
	<InputDate @bind-Value="_eproject.DateOfJoin"  />
	<br/>

	<DataAnnotationsValidator />
	<ValidationSummary />


	<button type="submit">Add new employee project</button>
	<button><a href="/employees">Return to all employee projects</a></button>

</EditForm>

@code {
	[Inject] NavigationManager navigationManager{ get; set; } = null!;
	[Parameter] public int id { get; set; }
	private EmployeeProject _eproject = new EmployeeProject();

	protected override async Task OnParametersSetAsync()
	{
		if(id < 0)
		{
			navigationManager.NavigateTo("/employeeprojects");
		}

		if (id != 0)
		{
			_eproject = await Service.GetEmployeeProject(id);
		}
	}

	private async Task EditEmployeeProject()
	{
		if (id == 0)
		{
			await Service.AddEmployeeProject(_eproject);
		}
		else
		{
			await Service.EditEmployeeProject(_eproject);
		}
		navigationManager.NavigateTo("/employeeprojects");
	}
}